.media-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media-block__heading {
  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;

  @media screen and (min-width: $middle-size) {
    & {
      font-size: 30px;
      margin-top: 69px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin-top: 73px;
    }
  }
}

.media-block__heading--main {
  @media screen and (min-width: $middle-size) {
    & {
      margin-top: 74px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin-top: 116px;
    }
  }
}

.media-block__intro {
  text-transform: uppercase;
  width: 270px;
  text-align: center;
  font-size: $text-font-size-mobile;
  line-height: 24px;
  margin: 28px 0 27px;

  @media screen and (min-width: $middle-size) {
    & {
      font-size: $text-font-size-mobile;
      margin-top: 31px;
      margin-bottom: 68px;
      width: 430px;
    }
  }
}

.media-block__intro--video {
  margin: 25px 0 34px;

  @media screen and (min-width: $middle-size) {
    & {
      margin: 33px 0 71px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin: 30px 0 71px;
    }
  }
}

.media-block__item {
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  padding: 20px 20px 18px;

  @media screen and (min-width: $middle-size) {
    & {
      padding: 0;
      border-top: 0;
      width: 50%;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 33.33333333%;
    }
  }
}


.media-block__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $middle-size) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.media-block__player {
  box-sizing: border-box;
  width: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -49px;

  @media screen and (min-width: $middle-size) {
    & {
      width: 648px;
      background-color: rgba(0, 0, 0, 0.6);
      margin-top: -96px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 800px;
    }
  }
}

.media-block__volume {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  height: 45px;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    width: 235px;
    left: 22px;
    height: 3px;
    order: 1;
    top: calc(50% - 1px);

    @media screen and (min-width: $middle-size) {
      width: 390px;
      left: 13px;
    }

    @media screen and (min-width: $large-size) {
      left: 10px;
      width: 540px;
    }
  }

  @media screen and (min-width: $middle-size) {
    & {
      height: 93px;
      order: 2;
      width: 418px;
      background-color: transparent;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 559px;
    }
  }
}

.media-block__volume-button {
  position: absolute;
  background-color: #ffffff;
  width: 9px;
  height: 9px;
  left: 58px;
  top: calc(50% - 4px);
  border-radius: 50%;
  border: 0;

  @media screen and (min-width: $middle-size) {
    & {
      left: 125px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      left: 122px;
    }
  }
}

.media-block__replay-icon,
.media-block__subtitles-icon,
.media-block__fullscreen-icon {
  outline: transparent;
  fill: #5c6870;

  &:hover,
  &:focus {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (min-width: $middle-size) {
    & {
      fill: #ffffff;
    }

    &:hover,
    &:focus {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      fill: #ffffff;
      opacity: 0.3;
    }
  }
}

.media-block__player-block {
  display: flex;
  background: #f2f2f2;
  height: 66px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $middle-size) {
    & {
      height: 93px;
    }
  }
}

.media-block__replay {
  width: 25%;
  order: 2;

  @media screen and (min-width: $middle-size) {
    & {
      order: 1;
      width: 12.5%;
      background-color: transparent;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 82px;
    }
  }
}

.media-block__subtitles {
  justify-content: flex-end;
  width: 50%;
  order: 3;

  @media screen and (min-width: $middle-size) {
    & {
      width: 12.5%;
      background-color: transparent;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 92px;
    }
  }
}

.media-block__player-button {
  border: 0;
  background-color: transparent;
}

.media-block__fullscreen {
  width: 25%;
  order: 4;

  @media screen and (min-width: $middle-size) {
    & {
      width: 9.9%;
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 50px;
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.media-block--video {
  margin-bottom: 38px;

  @media screen and (min-width: $middle-size) {
    & {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin-bottom: 84px;
    }
  }
}
