.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: $middle-size) {
    & {
      flex-direction: row;
    }
  }
}

.advantages__heading {
  font-size: $heading-font-size-mobile;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 35px;

  @media screen and (min-width: $middle-size) {
    & {
      font-size: 21px;
      background-image: none;
      margin-top: 40px;
      width: 150px;
    }
  }
}

.advantages--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 40px;

  @media screen and (min-width: $middle-size) {
    & {
      background-image: none;
      padding: 0;
    }
  }
}

.advantages__number {
  position: relative;
  font-size: $text-font-size-mobile;
  line-height: 21px;
  margin-top: 10px;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #979797;
    left: -15px;
    top: 9px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #979797;
    right: -15px;
    top: 9px;
  }
}

.advantages__text {
  font-size: $text-font-size-mobile;
  line-height: 21px;
  text-transform: uppercase;
  width: 257px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;

  @media screen and (min-width: $middle-size) {
    & {
      margin-top: 21px;
      width: 171px;
      margin-bottom: 55px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 284px;
    }
  }
}

.advantages__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 254px;
  overflow: hidden;

  @media screen and (min-width: $middle-size) {
    & {
      height: 250px;
    }
  }
}

.advantages__img--bridge {
  order: 2;

  @media screen and (min-width: $middle-size) {
    & {
      order: 1;
    }
  }
}

.advantages__wrapper--bridge {
  order: 1;

  @media screen and (min-width: $middle-size) {
    & {
      order: 2;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.advantages__wrapper--border {
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: $middle-size) {
    & {
      border: 0;
    }
  }
}

.advantages--grey {
  background-color: #eeeeee;
}

.advantages__wrapper--blue {
  @media screen and (min-width: $middle-size) {
    & {
      width: 375px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 590px;
    }
  }
}

.advantages__number--color,
.advantages__heading--color,
.advantages__text--color {
  color: #ffffff;

  &::before {
    background-color: #bcd6e5;
  }

  &::after {
    background-color: #bcd6e5;
  }
}

.advantages__heading--color {
  @media screen and (min-width: $middle-size) {
    & {
      margin: 0;
      width: 150px;
    }
  }
}

.advantages__number--color {
  @media screen and (min-width: $middle-size) {
    & {
      margin: 0;
      margin-top: 10px;
    }
  }
}

.advantages__text--color {
  @media screen and (min-width: $middle-size) {
    & {
      margin: 0;
      margin-top: 21px;
      width: 161px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin: 0;
      margin-top: 20px;
      width: 270px;
      margin-bottom: 11px;
    }
  }
}

.advantages--blue {
  background-color: #81b3d2;

  @media screen and (min-width: $middle-size) {
    & {
      margin-top: 53px;
    }
  }
}

.advantages__text--bridge {
  @media screen and (min-width: $large-size) {
    & {
      width: 225px;
    }
  }
}
