.advantage-item {
  position: relative;
  background-color: #ffffff;
  margin-left: 70px;

  @media screen and (min-width: $middle-size) {
    & {
      text-align: center;
      margin-left: 0;
      margin-top: 100px;
    }
  }
}

.advantage-item__heading {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  margin-top: 32px;

  @media screen and (min-width: $middle-size) {
    & {
      font-size: 21px;
    }
  }
}

.advantage-item__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  @media screen and (min-width: $middle-size) {
    & {
      width: 163px;
      margin: 0;
      margin-top: 24px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 290px;
      margin: 0;
      margin-top: 24px;
    }
  }
}

.advantage-item__text--special {
  @media screen and (min-width: $large-size) {
    & {
      width: 290px;
    }
  }
}

.advantage-item__advantage-1 {
  position: absolute;
  width: 39px;
  height: 37px;
  left: -50px;
  top: 20px;

  & path {
    fill: #81b7cf;
  }

  & rect {
    fill: #81b7cf;
  }

  @media screen and (min-width: $middle-size) {
    & {
      top: -70px;
      left: 50%;
      transform: translateX(-36px);
      width: 72px;
      height: 72px;
      order: 1;
    }
  }
}

.advantage-item__icon {
  fill: #81b7cf;
}

.advantage-item__icon-1 {
  @media screen and (min-width: $middle-size) {
    & {
      width: 72px;
      height: 72px;
    }
  }
}


.advantage-item__icon-2 {
  @media screen and (min-width: $middle-size) {
    & {
      width: 64px;
      height: 77px;
    }
  }
}

.advantage-item__icon-3 {
  @media screen and (min-width: $middle-size) {
    & {
      width: 79px;
      height: 79px;
    }
  }
}

.advantage-item__advantage-2 {
  position: absolute;
  width: 32px;
  height: 38px;
  left: -50px;
  top: 20px;

  @media screen and (min-width: $middle-size) {
    & {
      top: -70px;
      left: 50%;
      transform: translateX(-36px);
      width: 64px;
      height: 77px;
      order: 3;
    }
  }
}

.advantage-item__advantage-3 {
  position: absolute;
  width: 32px;
  height: 38px;
  left: -50px;
  top: 20px;

  @media screen and (min-width: $middle-size) {
    & {
      top: -70px;
      left: 50%;
      transform: translateX(-36px);
      width: 79px;
      height: 70px;
      order: 2;
    }
  }
}

.advantage-item--order-1 {
  order: 1;
}

.advantage-item--order-2 {
  order: 2;

  @media screen and (min-width: $middle-size) {
    & {
      order: 3;
    }
  }
}

.advantage-item--order-3 {
  order: 3;

  @media screen and (min-width: $middle-size) {
    & {
      order: 2;
    }
  }
}
