.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: $middle-size) {
    & {
      flex-direction: row;
    }
  }
}

.advantages__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number--color,
.advantages__heading--color,
.advantages__text--color {
  color: #ffffff;
}

.advantages--blue {
  background-color: #81b3d2;
}

.advantages--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 40px;

  @media screen and (min-width: $middle-size) {
    & {
      background-image: none;
      padding: 0;
    }
  }
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 250px;
  text-align: center;
}

.advantages__img {
  background-size: cover;
  width: 100%;
  height: 260px;
}

.advantages__img--city {
  background-image: url("../img/main-city-mobile@1x.jpg");

  @media screen and (min-width: $middle-size) {
    & {
      background-image: url("../img/main-city-tablet@1x.jpg");
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      background-image: url("../img/main-city-desktop@1x.jpg");
    }
  }
}

.advantages__img--bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");

  @media screen and (min-width: $middle-size) {
    & {
      background-image: url("../img/main-bridge-tablet@1x.jpg");
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      background-image: url("../img/main-bridge-desktop@1x.jpg");
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.advantages__wrapper--border {
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: $middle-size) {
    & {
      border: 0;
    }
  }
}

.advantages--grey {
  background-color: #eeeeee;
}

.advantages__wrapper--blue {
  @media screen and (min-width: $large-size) {
    & {
      width: 590px;
    }
  }
}
