.header-navigation {
  background-color: $menu-background;
  position: relative;

  @media screen and (min-width: $middle-size) {
    & {
      background-color: transparent;
    }
  }
}

.header-navigation__close {
  position: absolute;
  border: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  margin-top: 18px;
  margin-right: 20px;
  right: 0;

  @media screen and (min-width: $middle-size) {
    & {
      display: none;
    }
  }
}

.header-navigation__close-icon {
  fill: #fefbf6;
}

.header-navigation__burger-icon {
  fill: $menu-background;
}
