.intro-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-block__heading {
  font-family: $bold-font;
  text-align: center;
  text-transform: uppercase;
  font-size: $heading-font-size-mobile;
  line-height: 26px;
  width: 255px;
  padding: 0;
  margin: 0;
  margin-top: 52px;

  @media screen and (min-width: $middle-size) {
    & {
      width: 446px;
      font-size: 21px;
    }
  }
}

.intro-block__intro {
  text-align: center;
  text-transform: uppercase;
  font-size: $text-font-size-mobile;
  width: 285px;
  margin: 0;
  padding: 0;
  margin-top: 30px;

  @media screen and (min-width: $middle-size) {
    & {
      width: 100%;
    }
  }
}

.intro-block__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $middle-size) {
    & {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.intro-block__wrapper--grey {
  background-color: #eeeeee;
}

.intro-block__wrapper--advantages {
  @media screen and (min-width: $middle-size) {
    & {
      margin-top: 27px;
      margin-bottom: 7px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin-top: 27px;
      margin-bottom: 30px;
    }
  }
}
