.media-item--first {
  @media screen and (min-width: $middle-size) {
    & {
      width: 100%;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 100%;
    }
  }
}

.media-item__info {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $middle-size) {
    & {
      box-sizing: border-box;
      padding: 16px 20px;
      background-color: #f2f2f2;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      position: absolute;
      bottom: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.media-item__author,
.media-item__heading {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.media-item__heading {
  margin-top: 15px;

  @media screen and (min-width: $middle-size) {
    & {
      margin-top: 0;
    }
  }
}

.media-item__author {
  font-weight: normal;
  text-transform: none;
}

.media-item__views {
  display: flex;
  align-items: center;
  width: 63px;

  & path {
    fill: #a7a7a7;
  }

  @media screen and (min-width: $large-size) {
    & path {
      fill: #ffffff;
    }
  }
}

.media-item__views-number {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 7px;
}


.media-item__img {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;

  @media screen and (min-width: $middle-size) {
    & {
      width: 100%;
      height: 267px;
    }
  }
}

.media-item__img--first {
  @media screen and (min-width: $middle-size) {
    & {
      height: 400px;
    }
  }
}
