.media-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media-block__heading {
  font-family: "PT Sans Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;

  @media screen and (min-width: $middle-size) {
    & {
      font-size: 30px;
      margin-top: 74px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin-top: 116px;
    }
  }
}

.media-block__intro {
  text-transform: uppercase;
  width: 270px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;

  @media screen and (min-width: $middle-size) {
    & {
      font-size: 14px;
      margin-top: 31px;
      margin-bottom: 68px;
      width: 430px;
    }
  }
}

.media-block__item {
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  padding: 20px;

  @media screen and (min-width: $middle-size) {
    & {
      padding: 0;
      border-top: 0;
      width: 50%;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 33.33333333%;
    }
  }
}


.media-block__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $middle-size) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.media-block__player{
  box-sizing: border-box;
  width: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -49px;
}

.media-block__volume{
  position: relative;
  background-color: rgba(0,0,0,0.6);
  height: 45px;
  width: 100%;
  &::before{
    position: absolute;
    content: "";
    background-color: rgba(255,255,255,0.2);
    width: 235px;
    left: 22px;
    height: 3px;

    top: 22px;
  }
  &::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 9px;
    height: 9px;
    left: 20%;
    top: 19px;
    border-radius: 50%;
  }
}

.media-block__replay-icon, .media-block__subtitles-icon, .media-block__fullscreen-icon {
  fill: #5c6870;
}

.media-block__player-block {
  display: flex;
  background: #f2f2f2;
  height: 66px;
  justify-content: center;
  align-items: center;
}

.media-block__replay{
  width: 25%;
}

.media-block__subtitles{
  justify-content: flex-end;
  width: 50%;
}

.media-block__player-button {
  border: 0;
  background-color: transparent;
}
.media-block__fullscreen {
  width: 25%;
}
