.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  width: 102px;
  height: 83px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $middle-size) {
    & {
      top: 0;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 190px;
      height: 96px;
    }
  }
}

.page-header__menu-btn {
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  margin-top: 15px;
  margin-right: 27px;
  fill: #7eb4d0;

  @media screen and (min-width: $middle-size) {
    & {
      display: none;
    }
  }
&:hover, &:focus{
  outline: transparent;
  opacity: 0.6;
}
&:active{
  opacity: 0.3;
}
}

