.page-main {
  @media screen and (min-width: $middle-size) {
    & {
      width: 650px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: auto;
    }
  }
}
