.page-main {
  @media screen and (min-width: $middle-size) {
    & {
      margin: 0 auto;
      width: 650px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      width: 100%;
    }
  }
}

.page-main--index {
    @media screen and (min-width: $middle-size) {
    & {
      margin: 0 auto;
      width: $middle-size;
    }
  }
    @media screen and (min-width: $large-size) {
    & {
      width: 100%;
    }
  }
}