.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: $middle-size) {
    & {
      padding: 56px 0 30px;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      padding-bottom: 20px;
    }
  }
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__copyright {
  display: flex;
  margin-top: 27px;
  font-size: 14px;
  color: $base-color;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 26px;
  align-items: center;
}
.page-footer__academylogo{
  line-height: 0;
}

.page-footer__academylogo:hover, .page-footer__academylogo:focus{
  fill: $header-menu-desktop-hover;
}

.page-footer__academylogo:active{
  fill: $header-menu-desktop-down;
}

.page-footer__developer{
  margin-right: 10px;
}
