.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__copyright {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 26px;
  padding-right: 40px;
  padding-bottom: 30px;

  & ::after {
    content: "";
    position: absolute;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 34px;
    right: 0;
  }
}
