.slogan-block{
  background-image: url($mobile-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.slogan-block--main{
  height: 389px;
}
.slogan-block-inner{
  height:160px;
}

.slogan-block__welcome-text{
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 282px;
  height: 214px;
}

.slogan-block__welcome-text--inner{
  background-image: url("../img/text-sedona.svg");
  background-position: center;

}

.page-header__menu-btn{
  border: 0;
  background-color: transparent;
  background-image: url(../img/icon-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-top: 18px;
  margin-right: 20px;
}
