.slogan-block {
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url($mobile-bg-url);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  @media screen and (min-width: $middle-size) {
    & {
      margin-top: 0;
      height: 520px;
      background-image:
        url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@1x.jpg");
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      background-image:
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@1x.jpg");
    }
  }
}

.slogan-block--main {
  height: 389px;

  @media screen and (min-width: $middle-size) {
    & {
      height: 520px;
    }
  }
}

.slogan-block--inner {
  height: 160px;

  @media screen and (min-width: $middle-size) {
    & {
      height: 291px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      height: 300px;
    }
  }
}

.slogan-block__welcome-text {
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 282px;
  height: 214px;

  @media screen and (min-width: $middle-size) {
    & {
      background-size: auto;
      width: 462px;
      height: 357px;
    }
  }
}

.slogan-block__welcome-text--inner {
  background-image: url("../img/text-sedona.svg");
  background-position: center;

  @media screen and (min-width: $middle-size) {
    & {
      margin-top: -22px;
      background-size: contain;
      width: 459px;
      height: 98px;
    }
  }
}
