.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media screen and (min-width: $middle-size) {
    & {
      margin-left: -8px;
    }
  }

  @media screen and (min-width: $large-size) {
    & {
      margin-left: 30px;
      margin-right: 33px;
    }
  }
}

.social-list__url {
  background-color: $button-background;
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  fill: $button-color;
}

.social-list__url:hover,
.social-list__url:focus {
  background-color: $button-background-hover;
}

.social-list__url:active {
  fill: $button-color-active;
  background-color: $button-background-down;
}

.social-list__url--last {
  margin-right: 0;
}
