$menu-background: #81b3d2;
$base-font: "PT Sans", arial, helvetica, sans-serif;
$bold-font: "PT Sans Bold", arial, helvetica, sans-serif;
$mobile-max-size: 318px;
$middle-size: 768px;
$large-size: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
